.auth  {
  color: lime;
  background-color: var(--background-color);
}

#Auth a  {
  color: forestgreen;
  font-size: x-large;
  margin: 1em;
  border: .1em white solid;
}
#Auth a:visited  {
  color: forestgreen;
}