.postContainer {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  border-radius: 3px;
  margin: 20px 5px;
  padding: 10px 10px;
  max-width: 550px;
}

a > .postUserName {
  color: black;
  font-size: 25px;
  margin: 0 0;
  font-weight: 600;
}

.postTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.postText {
  font-weight: 400;
}

.entryContainer{
  display: flex;
  justify-content: center;
}

.socialContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.notes {
  display: flex;
  flex-wrap: nowrap;
}

.socialBtnContainer {
  display: flex;
}

.commentIcon {
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-top: 5px;
}

.shareIcon {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.reblogIcon {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.likeIcon {
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-top: 4px;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

.deleteBtn,
.editBtn {
  background-color: var(--second-font-color);
  border: none;
  border-radius: 20px;
  width: 100px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}