body {
    background-color: #041c34;
}

/* navbar */
.navBarContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #041c34;
    border-bottom: 5px solid red;
}
.logo-button {
    width: 100px;
    background-color: #041c34;
}
.home-icon {
    width: 50px;
    height: 40px;
}
.explore-icon {
    width: 50px;
    height: 40px;
}
.mail-icon {
    width: 50px;
    height: 40px;
}
.chat-icon {
    width: 50px;
    height: 40px;
}
.account-icon {
    width: 50px;
    height: 40px;
}
.post-icon {
    width: 45px;
    height: 35px;
}

.logo {
    border-radius: 2rem;
}
.home-button {
    border: none;
    position: relative;
    left: 1030px;
    width: 45px;
    height: 35px;
    background-color: #041c34;
}
.explore-button {
    border: none;
    position: relative;
    left: 55%;
    width: 45px;
    height: 35px;
    background-color: #041c34;
}
.mail-button {
    border: none;
    position: relative;
    left: 55%;
    width: 45px;
    height: 35px;
    background-color: #041c34;
}
.chat-button {
    border: none;
    position: relative;
    left: 55%;
    width: 45px;
    height: 35px;
    background-color: #041c34;
}
.account-button {
    /* border-radius: 2rem; */
    border: none;
    position: relative;
    left: 55%;
    width: 45px;
    height: 35px;
    background-color: #041c34;
}
.post-button {
    /* border-radius: 2rem; */
    border: none;
    position: relative;
    left: 55%;
    width: 45px;
    height: 35px;
    background-color: #04bcfc;
}

.search-bar {
    background-color: #758494;
    /* color: white; */
    position: relative;
    top: 30%;
    left: 5%;
    height: 30px;
    width: 300px;
    border-radius: .2rem;
}
.search-submit {
    position: relative;
    top: 30%;
    left: 5%;
}

/* Popup */

.popup-content {
    margin: auto;
    background: green;
    width: 50%;
    padding: 5px;
    border: none;
}

[role=tooltip].popup-content {
    width: 200px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .16);
    border-radius: 10px
}

.popup-overlay {
    background: rgba(0, 0, 0, .5)
}

[data-popup=tooltip].popup-overlay {
    background: transparent
}

.popup-arrow {
    -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, .16));
    filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, .16));
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
} 

/* Popup */