.authBtns {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.logIn {
  margin: 0 18px 20px 0;
  background-color: #00cf34;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.signUp {
  margin: 0 18px 20px 0;
  background-color: #00b8ff;
  color: black;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}