.authBarContainer {
  display:grid;
  grid-template-rows: 1fr;
  border-bottom: 1px solid white;
}

.authLeftSide {
  display: flex;
  flex-wrap: nowrap;
  grid-row: 1/2;
}

.authBtns {
  display: flex;
  justify-content: end;
  margin: 10px 20px 0 0;
  grid-row: 1/2;
  max-height: 45px;
}

.logIn {
  margin: 0 18px 7px 0;
  background-color: #00cf34;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  line-height: 1.5;
  font-weight: 700;
  max-height: 45px;
}

.logIn-content {
  background-color:#00cf34;
}

.signUp {
  margin: 0 18px 7px 0;
  background-color: #00b8ff;
  color: black;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  line-height: 1.5;
  font-weight: 700;
  max-height: 45px;
}
