.homeBtnContainer{
  width: 50px;
}

.homeIcon {
  width: 50px;
  height: 40px;
}

.homeButton {
  border: none;
  background-color: #041c34;
  cursor: pointer;
  // position: relative;
  // left: 265px;
}