
.suggestedContainer {
  background-color: black;
  font-weight: bold;
  color: white;
  width: 20vw;
  height: 30vh;
  padding: 5px 10px;
  margin-top: 50px;
  border-radius: 2%;
  position: relative;
  left: 75%;
}

.suggestedTitle {
  margin: 2px 0;
}