
.suggestedContainer {
  background-color: var(--background-color);
  color: white;
  width: 25vw;
  height: 45vh;
  padding: 5px 10px;
  margin-top: 50px;
  border-radius: 2%;
}

.suggestedTitle {
  margin: 2px 0;
}