
.suggestedContainer {
  font-weight: bold;
  color: white;
  width: 20vw;
  height: fit-content;
  padding: 5px 10px;
  margin-top: 45px;
  border-radius: 2%;
  background-color: transparent;
}

.suggestedTitle {
  margin: 2px 0;
}